<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FoodDeliveryApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="restaurants" routerLinkActive="active-link">Restaurants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="profile" routerLinkActive="active-link">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="mycomands" routerLinkActive="active-link">My Comands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login" routerLinkActive="active-link">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
