.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.nav-links a{
    color: #fff;
}

.active-link{
    color:aquamarine;
    font-weight: bold;
    text-decoration: underline;
}

